/* line 5, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 106, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 5, ../sass/shared/_base.scss */
body {
  font-family: "Karla", sans-serif;
  background: #EEE;
}

/* line 10, ../sass/shared/_base.scss */
a {
  color: #2B90D7;
}

/* line 14, ../sass/shared/_base.scss */
a:hover {
  color: #2BC5D7;
}

/* line 18, ../sass/shared/_base.scss */
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}
@media (max-width: 577px) {
  /* line 18, ../sass/shared/_base.scss */
  .wrapper {
    width: 94%;
  }
}
@media (max-width: 858px) {
  /* line 18, ../sass/shared/_base.scss */
  .wrapper {
    width: 93%;
  }
}

/* line 32, ../sass/shared/_base.scss */
.page-content {
  max-width: 1000px;
  margin-bottom: 5em;
}

/* line 1, ../sass/shared/modules/_code.scss */
.highlight, pre {
  margin-bottom: 1em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-shadow: #000 1px 1px 0;
  font-family: monospace;
}

/* line 8, ../sass/shared/modules/_code.scss */
pre {
  text-align: left;
  color: #FFF;
  background-color: #333;
  padding: 1em;
  overflow: auto;
}

/* line 16, ../sass/shared/modules/_code.scss */
.highlight {
  background: #303030;
  color: #e5e5e5;
}

/* line 17, ../sass/shared/modules/_code.scss */
.highlight .hll {
  background-color: #ffffcc;
}

/* line 18, ../sass/shared/modules/_code.scss */
.highlight .c {
  color: #647bcf;
}

/* Comment */
/* line 19, ../sass/shared/modules/_code.scss */
.highlight .err {
  color: #e5e5e5;
}

/* Error */
/* line 20, ../sass/shared/modules/_code.scss */
.highlight .g {
  color: #e5e5e5;
}

/* Generic */
/* line 21, ../sass/shared/modules/_code.scss */
.highlight .k {
  color: #c0c090;
}

/* Keyword */
/* line 22, ../sass/shared/modules/_code.scss */
.highlight .l {
  color: #e5e5e5;
}

/* Literal */
/* line 23, ../sass/shared/modules/_code.scss */
.highlight .n {
  color: #e5e5e5;
}

/* Name */
/* line 24, ../sass/shared/modules/_code.scss */
.highlight .o {
  color: #e5e5e5;
}

/* Operator */
/* line 25, ../sass/shared/modules/_code.scss */
.highlight .x {
  color: #e5e5e5;
}

/* Other */
/* line 26, ../sass/shared/modules/_code.scss */
.highlight .p {
  color: #e5e5e5;
}

/* Punctuation */
/* line 27, ../sass/shared/modules/_code.scss */
.highlight .cm {
  color: #647bcf;
}

/* Comment.Multiline */
/* line 28, ../sass/shared/modules/_code.scss */
.highlight .cp {
  color: #c090c0;
}

/* Comment.Preproc */
/* line 29, ../sass/shared/modules/_code.scss */
.highlight .c1 {
  color: #647bcf;
}

/* Comment.Single */
/* line 30, ../sass/shared/modules/_code.scss */
.highlight .cs {
  color: #647bcf;
}

/* Comment.Special */
/* line 31, ../sass/shared/modules/_code.scss */
.highlight .gd {
  color: #a0d0ff;
  background-color: #0020a0;
}

/* Generic.Deleted */
/* line 32, ../sass/shared/modules/_code.scss */
.highlight .ge {
  color: #707070;
  text-decoration: underline;
}

/* Generic.Emph */
/* line 33, ../sass/shared/modules/_code.scss */
.highlight .gr {
  color: #ffffff;
  font-weight: bold;
  background-color: #8000ff;
}

/* Generic.Error */
/* line 34, ../sass/shared/modules/_code.scss */
.highlight .gh {
  color: #008b8b;
}

/* Generic.Heading */
/* line 35, ../sass/shared/modules/_code.scss */
.highlight .gi {
  color: #a0d0ff;
  background-color: #0020a0;
}

/* Generic.Inserted */
/* line 36, ../sass/shared/modules/_code.scss */
.highlight .go {
  color: #707070;
  font-weight: bold;
  background-color: #383838;
}

/* Generic.Output */
/* line 37, ../sass/shared/modules/_code.scss */
.highlight .gp {
  color: #e5e5e5;
}

/* Generic.Prompt */
/* line 38, ../sass/shared/modules/_code.scss */
.highlight .gs {
  color: #e5e5e5;
}

/* Generic.Strong */
/* line 39, ../sass/shared/modules/_code.scss */
.highlight .gu {
  color: #008b8b;
}

/* Generic.Subheading */
/* line 40, ../sass/shared/modules/_code.scss */
.highlight .gt {
  color: #ffa0ff;
  font-weight: bold;
}

/* Generic.Traceback */
/* line 41, ../sass/shared/modules/_code.scss */
.highlight .kc {
  color: #c0c090;
}

/* Keyword.Constant */
/* line 42, ../sass/shared/modules/_code.scss */
.highlight .kd {
  color: #c0c090;
}

/* Keyword.Declaration */
/* line 43, ../sass/shared/modules/_code.scss */
.highlight .kn {
  color: #c0c090;
}

/* Keyword.Namespace */
/* line 44, ../sass/shared/modules/_code.scss */
.highlight .kp {
  color: #c0c090;
}

/* Keyword.Pseudo */
/* line 45, ../sass/shared/modules/_code.scss */
.highlight .kr {
  color: #c0c090;
}

/* Keyword.Reserved */
/* line 46, ../sass/shared/modules/_code.scss */
.highlight .kt {
  color: #60f0a8;
}

/* Keyword.Type */
/* line 47, ../sass/shared/modules/_code.scss */
.highlight .ld {
  color: #e5e5e5;
}

/* Literal.Date */
/* line 48, ../sass/shared/modules/_code.scss */
.highlight .m {
  color: #e5e5e5;
}

/* Literal.Number */
/* line 49, ../sass/shared/modules/_code.scss */
.highlight .s {
  color: #e5e5e5;
}

/* Literal.String */
/* line 50, ../sass/shared/modules/_code.scss */
.highlight .na {
  color: #e5e5e5;
}

/* Name.Attribute */
/* line 51, ../sass/shared/modules/_code.scss */
.highlight .nb {
  color: #e5e5e5;
}

/* Name.Builtin */
/* line 52, ../sass/shared/modules/_code.scss */
.highlight .nc {
  color: #e5e5e5;
}

/* Name.Class */
/* line 53, ../sass/shared/modules/_code.scss */
.highlight .no {
  color: #b07050;
}

/* Name.Constant */
/* line 54, ../sass/shared/modules/_code.scss */
.highlight .nd {
  color: #e5e5e5;
}

/* Name.Decorator */
/* line 55, ../sass/shared/modules/_code.scss */
.highlight .ni {
  color: #c090c0;
}

/* Name.Entity */
/* line 56, ../sass/shared/modules/_code.scss */
.highlight .ne {
  color: #e5e5e5;
}

/* Name.Exception */
/* line 57, ../sass/shared/modules/_code.scss */
.highlight .nf {
  color: #e5e5e5;
}

/* Name.Function */
/* line 58, ../sass/shared/modules/_code.scss */
.highlight .nl {
  color: #e5e5e5;
}

/* Name.Label */
/* line 59, ../sass/shared/modules/_code.scss */
.highlight .nn {
  color: #e5e5e5;
}

/* Name.Namespace */
/* line 60, ../sass/shared/modules/_code.scss */
.highlight .nx {
  color: #e5e5e5;
}

/* Name.Other */
/* line 61, ../sass/shared/modules/_code.scss */
.highlight .py {
  color: #e5e5e5;
}

/* Name.Property */
/* line 62, ../sass/shared/modules/_code.scss */
.highlight .nt {
  color: #c0c090;
}

/* Name.Tag */
/* line 63, ../sass/shared/modules/_code.scss */
.highlight .nv {
  color: #90c0c0;
}

/* Name.Variable */
/* line 64, ../sass/shared/modules/_code.scss */
.highlight .ow {
  color: #e5e5e5;
}

/* Operator.Word */
/* line 65, ../sass/shared/modules/_code.scss */
.highlight .w {
  color: #e5e5e5;
}

/* Text.Whitespace */
/* line 66, ../sass/shared/modules/_code.scss */
.highlight .mf {
  color: #e5e5e5;
}

/* Literal.Number.Float */
/* line 67, ../sass/shared/modules/_code.scss */
.highlight .mh {
  color: #e5e5e5;
}

/* Literal.Number.Hex */
/* line 68, ../sass/shared/modules/_code.scss */
.highlight .mi {
  color: #e5e5e5;
}

/* Literal.Number.Integer */
/* line 69, ../sass/shared/modules/_code.scss */
.highlight .mo {
  color: #e5e5e5;
}

/* Literal.Number.Oct */
/* line 70, ../sass/shared/modules/_code.scss */
.highlight .sb {
  color: #e5e5e5;
}

/* Literal.String.Backtick */
/* line 71, ../sass/shared/modules/_code.scss */
.highlight .sc {
  color: #e5e5e5;
}

/* Literal.String.Char */
/* line 72, ../sass/shared/modules/_code.scss */
.highlight .sd {
  color: #e5e5e5;
}

/* Literal.String.Doc */
/* line 73, ../sass/shared/modules/_code.scss */
.highlight .s2 {
  color: #e5e5e5;
}

/* Literal.String.Double */
/* line 74, ../sass/shared/modules/_code.scss */
.highlight .se {
  color: #e5e5e5;
}

/* Literal.String.Escape */
/* line 75, ../sass/shared/modules/_code.scss */
.highlight .sh {
  color: #e5e5e5;
}

/* Literal.String.Heredoc */
/* line 76, ../sass/shared/modules/_code.scss */
.highlight .si {
  color: #e5e5e5;
}

/* Literal.String.Interpol */
/* line 77, ../sass/shared/modules/_code.scss */
.highlight .sx {
  color: #e5e5e5;
}

/* Literal.String.Other */
/* line 78, ../sass/shared/modules/_code.scss */
.highlight .sr {
  color: #e5e5e5;
}

/* Literal.String.Regex */
/* line 79, ../sass/shared/modules/_code.scss */
.highlight .s1 {
  color: #e5e5e5;
}

/* Literal.String.Single */
/* line 80, ../sass/shared/modules/_code.scss */
.highlight .ss {
  color: #e5e5e5;
}

/* Literal.String.Symbol */
/* line 81, ../sass/shared/modules/_code.scss */
.highlight .bp {
  color: #e5e5e5;
}

/* Name.Builtin.Pseudo */
/* line 82, ../sass/shared/modules/_code.scss */
.highlight .vc {
  color: #90c0c0;
}

/* Name.Variable.Class */
/* line 83, ../sass/shared/modules/_code.scss */
.highlight .vg {
  color: #90c0c0;
}

/* Name.Variable.Global */
/* line 84, ../sass/shared/modules/_code.scss */
.highlight .vi {
  color: #90c0c0;
}

/* Name.Variable.Instance */
/* line 85, ../sass/shared/modules/_code.scss */
.highlight .il {
  color: #e5e5e5;
}

/* Literal.Number.Integer.Long */
/* line 4, ../sass/shared/modules/_primary-nav.scss */
.primary-nav {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 9, ../sass/shared/modules/_primary-nav.scss */
.primary-nav ul li {
  padding: 0.2em 0.625em;
}
/* line 11, ../sass/shared/modules/_primary-nav.scss */
.primary-nav ul li a {
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-weight: 100;
  font-family: 'roboto condensed';
  text-decoration: none;
  text-transform: uppercase;
}
/* line 18, ../sass/shared/modules/_primary-nav.scss */
.primary-nav ul li.active a {
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 24, ../sass/shared/modules/_primary-nav.scss */
.primary-nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media (max-width: 858px) {
  /* line 4, ../sass/shared/modules/_primary-nav.scss */
  .primary-nav {
    text-align: center;
  }
  /* line 28, ../sass/shared/modules/_primary-nav.scss */
  .primary-nav ul {
    background: rgba(255, 255, 255, 0.5);
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 0.4375em;
    padding-bottom: 0.4375em;
  }
  /* line 33, ../sass/shared/modules/_primary-nav.scss */
  .primary-nav ul li {
    display: inline;
    font-size: 1.3125em;
  }
  /* line 36, ../sass/shared/modules/_primary-nav.scss */
  .primary-nav ul li a {
    color: #666666;
  }
  /* line 39, ../sass/shared/modules/_primary-nav.scss */
  .primary-nav ul li.active a, .primary-nav ul li:hover a {
    color: #262626;
  }
}
@media (min-width: 859px) {
  /* line 4, ../sass/shared/modules/_primary-nav.scss */
  .primary-nav {
    background: rgba(255, 255, 255, 0.5);
  }
  /* line 48, ../sass/shared/modules/_primary-nav.scss */
  .primary-nav ul {
    float: right;
  }
  /* line 50, ../sass/shared/modules/_primary-nav.scss */
  .primary-nav ul li {
    float: left;
    font-size: 1.5625em;
  }
  /* line 53, ../sass/shared/modules/_primary-nav.scss */
  .primary-nav ul li a {
    display: block;
    margin-top: 0.4375em;
    margin-bottom: 0.4375em;
    border-bottom: solid #D2DAE1 1px;
    color: #999;
  }
  /* line 60, ../sass/shared/modules/_primary-nav.scss */
  .primary-nav ul li.active a {
    font-weight: bold;
  }
  /* line 63, ../sass/shared/modules/_primary-nav.scss */
  .primary-nav ul li:hover a {
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-bottom: solid #CCC 1px;
    color: #666666;
  }
}

/* line 4, ../sass/shared/modules/_site-header.scss */
.lte8 .site-header {
  background-color: #96c8eb;
}

/* line 8, ../sass/shared/modules/_site-header.scss */
.ie9 .site-header {
  background-image: url(../assets/backgrounds/out-to-sea.jpg);
}

/* line 12, ../sass/shared/modules/_site-header.scss */
.site-header {
  background-position: top;
  margin-bottom: 2em;
  padding: 3em 0 3em 0;
  background-size: 100%;
}
@media (min-width: 859px) {
  /* line 12, ../sass/shared/modules/_site-header.scss */
  .site-header {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }
}
@media only screen and (min-width: 859px) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 859px) and (-min--moz-device-pixel-ratio: 1), only screen and (min-width: 859px) and (min--moz-device-pixel-ratio: 1), only screen and (min-width: 859px) and (min-resolution: 1dppx) {
  /* line 12, ../sass/shared/modules/_site-header.scss */
  .site-header {
    background-image: url("../assets/backgrounds/out-to-sea.jpg");
  }
}
@media only screen and (min-width: 859px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 859px) and (-min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 859px) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 859px) and (min-resolution: 1.5dppx) {
  /* line 12, ../sass/shared/modules/_site-header.scss */
  .site-header {
    background-image: url("../assets/backgrounds/out-to-sea@1.5x.jpg");
  }
}
@media only screen and (min-width: 859px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 859px) and (-min--moz-device-pixel-ratio: 2), only screen and (min-width: 859px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 859px) and (min-resolution: 2dppx) {
  /* line 12, ../sass/shared/modules/_site-header.scss */
  .site-header {
    background-image: url("../assets/backgrounds/out-to-sea@2x.jpg");
  }
}

@media (max-width: 858px) {
  /* line 12, ../sass/shared/modules/_site-header.scss */
  .site-header {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }
}
@media only screen and (max-width: 858px) and (-webkit-min-device-pixel-ratio: 1), only screen and (max-width: 858px) and (-min--moz-device-pixel-ratio: 1), only screen and (max-width: 858px) and (min--moz-device-pixel-ratio: 1), only screen and (max-width: 858px) and (min-resolution: 1dppx) {
  /* line 12, ../sass/shared/modules/_site-header.scss */
  .site-header {
    background-image: url("../assets/backgrounds/out-to-sea-smaller.jpg");
  }
}
@media only screen and (max-width: 858px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 858px) and (-min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 858px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 858px) and (min-resolution: 1.5dppx) {
  /* line 12, ../sass/shared/modules/_site-header.scss */
  .site-header {
    background-image: url("../assets/backgrounds/out-to-sea-smaller@1.5x.jpg");
  }
}
@media only screen and (max-width: 858px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 858px) and (-min--moz-device-pixel-ratio: 2), only screen and (max-width: 858px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 858px) and (min-resolution: 2dppx) {
  /* line 12, ../sass/shared/modules/_site-header.scss */
  .site-header {
    background-image: url("../assets/backgrounds/out-to-sea-smaller@2x.jpg");
  }
}

@media (max-width: 577px) {
  /* line 12, ../sass/shared/modules/_site-header.scss */
  .site-header {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }
}
@media only screen and (max-width: 577px) and (-webkit-min-device-pixel-ratio: 1), only screen and (max-width: 577px) and (-min--moz-device-pixel-ratio: 1), only screen and (max-width: 577px) and (min--moz-device-pixel-ratio: 1), only screen and (max-width: 577px) and (min-resolution: 1dppx) {
  /* line 12, ../sass/shared/modules/_site-header.scss */
  .site-header {
    background-image: url("../assets/backgrounds/out-to-sea-smaller-still.jpg");
  }
}
@media only screen and (max-width: 577px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 577px) and (-min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 577px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 577px) and (min-resolution: 1.5dppx) {
  /* line 12, ../sass/shared/modules/_site-header.scss */
  .site-header {
    background-image: url("../assets/backgrounds/out-to-sea-smaller-still@1.5x.jpg");
  }
}
@media only screen and (max-width: 577px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 577px) and (-min--moz-device-pixel-ratio: 2), only screen and (max-width: 577px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 577px) and (min-resolution: 2dppx) {
  /* line 12, ../sass/shared/modules/_site-header.scss */
  .site-header {
    background-image: url("../assets/backgrounds/out-to-sea-smaller-still@2x.jpg");
  }
}

/* line 40, ../sass/shared/modules/_site-header.scss */
.site-header .site-title {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.77778em;
  line-height: 1.44em;
  margin-top: 0.48em;
  padding-top: 0.48em;
  padding-bottom: 0em;
  margin-bottom: 0.96em;
  text-align: center;
  clear: both;
  background: none;
}
/* line 48, ../sass/shared/modules/_site-header.scss */
.site-header .site-title a {
  color: #FFF;
  text-shadow: #000 2px 3px 0;
  text-decoration: none;
  font-family: "roboto condensed", sans-serif;
}
@media (max-width: 577px) {
  /* line 12, ../sass/shared/modules/_site-header.scss */
  .site-header {
    margin-bottom: 0;
    padding: 3em 0 0.5em 0;
  }
}
/* line 61, ../sass/shared/modules/_site-header.scss */
.site-header .intro-text {
  font-family: "Sanchez", serif;
  float: left;
  clear: both;
  font-size: 1.5em;
  line-height: 1.77778em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  color: #FFF;
  text-shadow: #000 1px 1px 0;
}
/* line 70, ../sass/shared/modules/_site-header.scss */
.site-header .intro-text a {
  text-shadow: #195783 1px 1px 0;
}
@media (max-width: 858px) {
  /* line 77, ../sass/shared/modules/_site-header.scss */
  .site-header .intro-text {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 1.11111em;
    line-height: 1.2em;
    line-height: 1.53333em;
  }
}
@media (max-width: 577px) {
  /* line 85, ../sass/shared/modules/_site-header.scss */
  .site-header .intro-text {
    text-shadow: none;
    color: #000;
    font-size: 0.88889em;
    line-height: 1.5em;
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 1.5em;
    text-align: center;
  }
  /* line 91, ../sass/shared/modules/_site-header.scss */
  .site-header .intro-text a {
    text-shadow: none;
  }
}
/* line 97, ../sass/shared/modules/_site-header.scss */
.site-header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 2, ../sass/shared/modules/_page-header.scss */
.page-header h1 {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5em;
  padding: 0.4em 0;
  border-bottom: solid #CCC 1px;
  font-size: 1.66667em;
  line-height: 1.6em;
}
@media (max-width: 577px) {
  /* line 2, ../sass/shared/modules/_page-header.scss */
  .page-header h1 {
    font-size: 1.22222em;
    line-height: 2.18182em;
    line-height: 1.66667em;
  }
}
/* line 16, ../sass/shared/modules/_page-header.scss */
.page-header h2 {
  color: #999;
  text-align: center;
  font-size: 1em;
  line-height: 1.33333em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.48em;
}

/* line 5, ../sass/pages/homepage.scss */
.homepage {
  text-align: center;
}
/* line 10, ../sass/pages/homepage.scss */
.homepage header h1 {
  font-size: 1.66667em;
  line-height: 1.6em;
  text-transform: uppercase;
  color: #1E303E;
}
/* line 17, ../sass/pages/homepage.scss */
.homepage .blog-posts-container,
.homepage .code-container {
  text-align: left;
  width: auto;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 1em;
}
@media (max-width: 577px) {
  /* line 27, ../sass/pages/homepage.scss */
  .homepage section {
    width: 100%;
    background: transparent;
    padding: 0;
  }
}

/* line 36, ../sass/pages/homepage.scss */
.intro-text {
  text-align: center;
}

/* line 5, ../sass/pages/post.scss */
.post {
  max-width: 800px;
}
/* line 9, ../sass/pages/post.scss */
.post p, .post .highlight, .post pre, .post ul, .post ol {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, ../sass/pages/post.scss */
.post span.meta {
  display: block;
  text-align: center;
}
/* line 20, ../sass/pages/post.scss */
.post p {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
}
/* line 24, ../sass/pages/post.scss */
.post ul, .post ol {
  margin: 0 0 0 2em;
  font-style: italic;
  border-left-width: 0.05556em;
  border-left-style: solid;
  padding-left: 1.27778em;
  border-left-color: #CCC;
}
/* line 29, ../sass/pages/post.scss */
.post ul li, .post ol li {
  margin-bottom: 0.5em;
}
/* line 34, ../sass/pages/post.scss */
.post h4, .post h5 {
  text-align: center;
}
/* line 38, ../sass/pages/post.scss */
.post h4 {
  font-size: 1.66667em;
  line-height: 1.6em;
  margin-top: 0.24em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.24em;
}
@media (max-width: 577px) {
  /* line 38, ../sass/pages/post.scss */
  .post h4 {
    font-weight: 700;
    font-size: 1.33333em;
    line-height: 2em;
    line-height: 1.66667em;
  }
}
/* line 50, ../sass/pages/post.scss */
.post h5 {
  font-size: 1.38889em;
  line-height: 1.92em;
  margin-top: 0.288em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.288em;
}

/* line 7, ../sass/pages/resume.scss */
.resume .coreSkills li {
  display: inline-block;
  width: 33.3%;
  vertical-align: top;
  margin-bottom: 1rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  box-sizing: border-box;
}
/* line 16, ../sass/pages/resume.scss */
.resume .coreSkills li:nth-child(3n + 1) {
  padding-left: 0;
}
/* line 17, ../sass/pages/resume.scss */
.resume .coreSkills li:nth-child(3n + 3) {
  padding-right: 0;
}
/* line 20, ../sass/pages/resume.scss */
.resume .coreSkills-title {
  font-size: 1.2rem;
}
/* line 24, ../sass/pages/resume.scss */
.resume .coreSkills-detail {
  font-size: 0.9rem;
  line-height: 0.5rem;
}
/* line 29, ../sass/pages/resume.scss */
.resume .experience-title,
.resume .education-title {
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5em;
  padding: 0.4em 0;
  border-bottom: solid #CCC 1px;
  font-size: 1.66667em;
  line-height: 1.6em;
}
/* line 41, ../sass/pages/resume.scss */
.resume ol li {
  clear: both;
}
/* line 45, ../sass/pages/resume.scss */
.resume ol .vevent {
  float: left;
  width: 100%;
  margin-bottom: 3em;
}
@media (min-width: 859px) {
  /* line 52, ../sass/pages/resume.scss */
  .resume #employment .employment-history header,
  .resume #education ol li .category {
    float: left;
    width: 25%;
    text-align: right;
  }
}
@media (min-width: 1280px) {
  /* line 52, ../sass/pages/resume.scss */
  .resume #employment .employment-history header,
  .resume #education ol li .category {
    float: left;
    width: 25%;
    text-align: right;
  }
}
/* line 69, ../sass/pages/resume.scss */
.resume .employment-history-header {
  text-align: right;
  margin-bottom: 0.4em;
}
@media (max-width: 858px) {
  /* line 69, ../sass/pages/resume.scss */
  .resume .employment-history-header {
    text-align: left;
  }
}
@media (max-width: 577px) {
  /* line 69, ../sass/pages/resume.scss */
  .resume .employment-history-header {
    text-align: center;
  }
}
/* line 83, ../sass/pages/resume.scss */
.resume header h3 .title,
.resume #education .category .title {
  float: none;
  margin-bottom: 0.4em;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: normal;
}
/* line 92, ../sass/pages/resume.scss */
.resume #employment ol.employment-history header h3 .org,
.resume #education ol header h3 .org {
  display: block;
  font-size: 1.2em;
  float: none;
  display: block;
  clear: both;
  margin-top: 0.3em;
}
/* line 102, ../sass/pages/resume.scss */
.resume #education .title span {
  text-transform: lowercase;
}
/* line 106, ../sass/pages/resume.scss */
.resume section#employment ol.employment-history header .duration {
  margin-bottom: 0.6em;
}
@media (max-width: 577px) {
  /* line 106, ../sass/pages/resume.scss */
  .resume section#employment ol.employment-history header .duration {
    text-align: center;
  }
}
/* line 114, ../sass/pages/resume.scss */
.resume #employment ol.employment-history header .overview {
  font-size: 0.77778em;
  line-height: 1.71429em;
  margin-top: 1.71429em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.71429em;
  width: 100%;
}
@media (max-width: 577px) {
  /* line 114, ../sass/pages/resume.scss */
  .resume #employment ol.employment-history header .overview {
    text-align: center;
  }
}
/* line 124, ../sass/pages/resume.scss */
.resume #employment .employment-history header .overview p {
  color: #666;
}
@media (min-width: 859px) {
  /* line 128, ../sass/pages/resume.scss */
  .resume #employment .employment-history .skills,
  .resume #education .summary {
    float: right;
    width: 70%;
  }
}
@media (min-width: 1280px) {
  /* line 128, ../sass/pages/resume.scss */
  .resume #employment .employment-history .skills,
  .resume #education .summary {
    float: right;
    width: 70%;
  }
}
/* line 146, ../sass/pages/resume.scss */
.resume #employment ol.employment-history section.skills h4 {
  font-weight: normal;
  margin-bottom: 0.1em;
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 0.3em;
  line-height: 1.3em;
}
/* line 155, ../sass/pages/resume.scss */
.resume section#employment ol.employment-history section.skills h4:first-child {
  margin-top: 0;
}
/* line 159, ../sass/pages/resume.scss */
.resume section#employment ol.employment-history section.skills ul {
  padding: 0;
}
/* line 163, ../sass/pages/resume.scss */
.resume section#employment ol.employment-history section.skills ul li {
  margin-bottom: 0.4em;
}
/* line 167, ../sass/pages/resume.scss */
.resume section#employment ol.employment-history section.skills ul li ul {
  border-left-width: 0.05556em;
  border-left-style: solid;
  padding-left: 1.27778em;
  border-left-color: #CCC;
  margin: 1em 1em;
  font-style: italic;
}
/* line 177, ../sass/pages/resume.scss */
.resume #employment,
.resume #education {
  clear: both;
}
/* line 182, ../sass/pages/resume.scss */
.resume #education .adr {
  margin: 0.3em 0;
}

/* line 188, ../sass/pages/resume.scss */
address {
  width: 100%;
  text-align: center;
}

/* line 193, ../sass/pages/resume.scss */
address span {
  display: block;
  margin-bottom: 0.3em;
}

@media print {
  /* line 2, ../sass/pages/resume.print.scss */
  .site-header, nav, footer {
    display: none !important;
  }

  /* line 4, ../sass/pages/resume.print.scss */
  body div.wrapper,
  body .page-content {
    width: 100%;
  }

  /* line 9, ../sass/pages/resume.print.scss */
  .resume header h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 0.7em;
    padding-bottom: 0.5em;
    border-bottom: solid #CCC 1px;
  }

  /* line 18, ../sass/pages/resume.print.scss */
  .resume .core-skills {
    list-style: square;
    padding: 0;
  }

  /* line 23, ../sass/pages/resume.print.scss */
  .resume .core-skills li {
    font-weight: bold;
    float: none;
    width: 100%;
    height: auto;
    margin-left: 2em;
    margin-bottom: 0.5em;
  }

  /* line 32, ../sass/pages/resume.print.scss */
  .resume .core-skills li .additional {
    font-weight: normal;
  }

  /* line 36, ../sass/pages/resume.print.scss */
  .resume header h2 {
    text-transform: uppercase;
    text-align: center;
    border: none;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    margin-bottom: 0;
  }

  /* line 46, ../sass/pages/resume.print.scss */
  .resume .core-skills,
  .resume #employment ol.employment-history .skills,
  .resume #education .summary,
  .resume section#employment ol.employment-history header .overview p {
    font-family: 'Garamond';
  }

  /* line 53, ../sass/pages/resume.print.scss */
  .resume section#employment ol.employment-history header .overview {
    width: 80%;
    margin: 0.5em auto 1em auto;
    text-align: center;
    font-style: italic;
  }

  /* line 60, ../sass/pages/resume.print.scss */
  .resume section#employment ol.employment-history header .overview p {
    text-align: center;
  }

  /* line 64, ../sass/pages/resume.print.scss */
  .resume section#employment ol.employment-history header,
  .resume #education ol li .category {
    float: none;
    width: 100%;
    text-align: center;
  }

  /* line 71, ../sass/pages/resume.print.scss */
  .resume section#employment ol.employment-history header,
  .resume section#employment ol.employment-history header h3,
  .resume #education ol li .category {
    text-align: center;
  }

  /* line 77, ../sass/pages/resume.print.scss */
  .resume #employment ol.employment-history .skills,
  .resume #education .summary {
    line-height: 1.4em;
    float: none;
    width: 100%;
    margin-bottom: 3em;
  }

  /* line 85, ../sass/pages/resume.print.scss */
  .resume header h3 .title,
  .resume #education .category .title {
    font-style: italic;
    text-transform: none;
    font-weight: normal;
    line-height: 1.3em;
  }

  /* line 93, ../sass/pages/resume.print.scss */
  .resume ol li ul li {
    list-style: square;
    margin-left: 1.5em;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  /* line 100, ../sass/pages/resume.print.scss */
  .resume section#employment ol.employment-history section.skills ul li ul {
    list-style: circle !important;
    border: none;
    margin-left: auto;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0.4em;
  }

  /* line 109, ../sass/pages/resume.print.scss */
  .resume section#employment ol.employment-history section.skills ul li ul li {
    list-style: circle !important;
  }

  /* line 114, ../sass/pages/resume.print.scss */
  .resume #employment ol.employment-history .skills,
  .resume #education .summary {
    margin: 0 0 0.5em 0 !important;
    padding: 0 !important;
  }

  /* line 120, ../sass/pages/resume.print.scss */
  .resume ol .vevent {
    margin: 0 0 0.5em 0;
    padding: 0;
  }

  /* line 125, ../sass/pages/resume.print.scss */
  #chemistry-digital {
    page-break-before: always;
    clear: both;
  }
}
/** Chrome Font-Face rendering fixes **/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Sanchez';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/SanchezFS/sanchez-regular-webfont.svg#sanchezregular) format("svg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Crete-Round/creteround-regular-webfont.svg#crete_roundregular) format("svg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Antic Slab';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Antic-Slab/anticslab-regular-webfont.svg#antic_slabregular) format("svg");
  }
}
