@media print {
  /* line 2, ../../sass/pages/resume.print.scss */
  .site-header, nav, footer {
    display: none !important;
  }

  /* line 4, ../../sass/pages/resume.print.scss */
  body div.wrapper,
  body .page-content {
    width: 100%;
  }

  /* line 9, ../../sass/pages/resume.print.scss */
  .resume header h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 0.7em;
    padding-bottom: 0.5em;
    border-bottom: solid #CCC 1px;
  }

  /* line 18, ../../sass/pages/resume.print.scss */
  .resume .core-skills {
    list-style: square;
    padding: 0;
  }

  /* line 23, ../../sass/pages/resume.print.scss */
  .resume .core-skills li {
    font-weight: bold;
    float: none;
    width: 100%;
    height: auto;
    margin-left: 2em;
    margin-bottom: 0.5em;
  }

  /* line 32, ../../sass/pages/resume.print.scss */
  .resume .core-skills li .additional {
    font-weight: normal;
  }

  /* line 36, ../../sass/pages/resume.print.scss */
  .resume header h2 {
    text-transform: uppercase;
    text-align: center;
    border: none;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    margin-bottom: 0;
  }

  /* line 46, ../../sass/pages/resume.print.scss */
  .resume .core-skills,
  .resume #employment ol.employment-history .skills,
  .resume #education .summary,
  .resume section#employment ol.employment-history header .overview p {
    font-family: 'Garamond';
  }

  /* line 53, ../../sass/pages/resume.print.scss */
  .resume section#employment ol.employment-history header .overview {
    width: 80%;
    margin: 0.5em auto 1em auto;
    text-align: center;
    font-style: italic;
  }

  /* line 60, ../../sass/pages/resume.print.scss */
  .resume section#employment ol.employment-history header .overview p {
    text-align: center;
  }

  /* line 64, ../../sass/pages/resume.print.scss */
  .resume section#employment ol.employment-history header,
  .resume #education ol li .category {
    float: none;
    width: 100%;
    text-align: center;
  }

  /* line 71, ../../sass/pages/resume.print.scss */
  .resume section#employment ol.employment-history header,
  .resume section#employment ol.employment-history header h3,
  .resume #education ol li .category {
    text-align: center;
  }

  /* line 77, ../../sass/pages/resume.print.scss */
  .resume #employment ol.employment-history .skills,
  .resume #education .summary {
    line-height: 1.4em;
    float: none;
    width: 100%;
    margin-bottom: 3em;
  }

  /* line 85, ../../sass/pages/resume.print.scss */
  .resume header h3 .title,
  .resume #education .category .title {
    font-style: italic;
    text-transform: none;
    font-weight: normal;
    line-height: 1.3em;
  }

  /* line 93, ../../sass/pages/resume.print.scss */
  .resume ol li ul li {
    list-style: square;
    margin-left: 1.5em;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  /* line 100, ../../sass/pages/resume.print.scss */
  .resume section#employment ol.employment-history section.skills ul li ul {
    list-style: circle !important;
    border: none;
    margin-left: auto;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0.4em;
  }

  /* line 109, ../../sass/pages/resume.print.scss */
  .resume section#employment ol.employment-history section.skills ul li ul li {
    list-style: circle !important;
  }

  /* line 114, ../../sass/pages/resume.print.scss */
  .resume #employment ol.employment-history .skills,
  .resume #education .summary {
    margin: 0 0 0.5em 0 !important;
    padding: 0 !important;
  }

  /* line 120, ../../sass/pages/resume.print.scss */
  .resume ol .vevent {
    margin: 0 0 0.5em 0;
    padding: 0;
  }

  /* line 125, ../../sass/pages/resume.print.scss */
  #chemistry-digital {
    page-break-before: always;
    clear: both;
  }
}
